#blueprint {
  background: #6066f2;
  padding: 170px 0;
  color: white;
}

#blueprint .container {
}

#blueprint .container:after {
  content: "";
  display: table;
  clear: both;
}

#blueprint .container .left-side {
  width: 60%;
  float: left;
}

#blueprint .container .left-side img {
  width: 100%;
}

#blueprint .container .right-side {
  width: 40%;
  float: left;
}

#blueprint .container .right-side h1 {
  font-size: 4rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 70px;
}

#blueprint .right-side .info-box:after {
  content: "";
  display: table;
  clear: both;
}

#blueprint .right-side .info-box .col-1 {
  width: 40%;
  float: left;
}

#blueprint .right-side .info-box .col-1 .icon-container {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
}

#blueprint .right-side .info-box .col-1 .icon-container .dashed-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px dashed white;
  margin: 0 auto;
  top: 14px;
  left: 13px;
  position: absolute;
}

#blueprint .right-side .info-box .col-1 .icon-container .fa {
  position: absolute;
  top: 30px;
  left: 47px;
  font-size: 5.5rem;
}

#blueprint .right-side .info-box .col-2 {
  width: 60%;
  float: left;
}

/*  */
