#blueprint {
    background: #232c66;
    background: -moz-linear-gradient(-45deg, #232c66 1%, #6066f2 100%);
    background: -webkit-linear-gradient(-45deg, #232c66 1%, #6066f2 100%);
    background: linear-gradient(135deg, #232c66 1%, #6066f2 100%);
    padding: 170px 0;
    color: white;
}

#blueprint .container {}

#blueprint .container:after {
    content: "";
    display: table;
    clear: both;
}

#blueprint .container .left-side {
    width: 60%;
    float: left;
}

#blueprint .container .left-side img {
    width: 100%;
}

#blueprint .container .right-side {
    width: 40%;
    float: left;
}

#blueprint .container .right-side h1 {
    font-size: 4rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 70px;
    line-height: 1.2;
}

#blueprint .right-side .info-box {
    padding: 0 0 80px;
}

#blueprint .right-side .info-box:after {
    content: "";
    display: table;
    clear: both;
}

#blueprint .right-side .info-box .col-1 {
    width: 40%;
    float: left;
}

#blueprint .right-side .info-box .col-1 .icon-container {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
}

#blueprint .right-side .info-box .col-1 .icon-container .dashed-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px dashed white;
    margin: 0 auto;
    top: 15px;
    left: 15px;
    position: absolute;
}

#blueprint .right-side .info-box .col-1 .icon-container .fa {
    position: absolute;
    top: 32px;
    left: 48px;
    font-size: 5rem;
}

#blueprint .right-side .info-box .col-2 {
    width: 60%;
    float: left;
}

#blueprint .right-side .info-box .col-2 h3 {
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 29px;
}

#blueprint .right-side .info-box .col-2 p {
    font-size: 1rem;
    margin-bottom: 15px;
}

#blueprint .right-side .info-box .col-2 a {
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 15px;
    color: #fea83b;
}

@media only screen and (max-width: 1215px) {}

@media only screen and (max-width: 1023px) {
    #blueprint {
        padding: 100px 0;
    }

    #blueprint .container .left-side {
        width: 40%;
    }

    #blueprint .container .right-side {
        width: 60%;
    }

    #blueprint .right-side h1 {
        font-size: 3rem;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 70px;
        line-height: 1.2;
        text-align: left;
    }

    #blueprint .right-side .info-box {
        width: 500px;
        margin: 0;
    }

    #blueprint .right-side .info-box .col-1 {
        width: 40%;
        float: left;
        text-align: center;
    }

    #blueprint .right-side .info-box .col-1 .icon-container {
        width: 120px;
        height: 120px;
        margin: 20px auto 0;
    }

    #blueprint .right-side .info-box .col-1 .icon-container .dashed-circle {
        width: 90px;
        height: 90px;
        top: 10px;
        left: 10px;
    }

    #blueprint .right-side .info-box .col-1 .icon-container .fa {
        font-size: 3rem;
        position: absolute;
        top: 29px;
        left: 39px;
    }
}

@media only screen and (max-width: 767px) {
    #blueprint {
        padding: 100px 0;
    }

    #blueprint img {
        display: none;
    }

    #blueprint .left-side {
        width: 100%;
    }

    #blueprint .container .right-side {
        width: 100%;
    }

    #blueprint .right-side h1 {
        font-size: 3rem;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 70px;
        line-height: 1.2;
        text-align: center;
    }

    #blueprint .right-side .info-box {
        width: 500px;
        margin: 0;
    }

    #blueprint .right-side .info-box .col-1 {
        width: 40%;
        float: left;
        text-align: center;
    }

    #blueprint .right-side .info-box .col-1 .icon-container {
        width: 120px;
        height: 120px;
        margin: 20px auto 0;
    }

    #blueprint .right-side .info-box .col-1 .icon-container .dashed-circle {
        width: 90px;
        height: 90px;
        top: 10px;
        left: 10px;
    }

    #blueprint .right-side .info-box .col-1 .icon-container .fa {
        font-size: 3rem;
        position: absolute;
        top: 29px;
        left: 39px;
    }
}