#color-collection {
    padding: 0 0 100px;

}

#color-collection .container:after {
    content: "";
    display: table;
    clear: both;
}

#color-collection .left-side {
    width: 60%;
    display: inline-block;
    float: left;
    text-align: center;
}

#color-collection .left-side img {
    width: 80%;
    display: inline-block;
    float: left;
}

#color-collection .right-side {
    width: 40%;
    display: inline-block;
    float: left;
}

#color-collection .right-side:after {
    content: "";
    display: table;
    clear: both;
}

#color-collection .right-side .col-1 {
    float: left;
    width: 80%;
}

#color-collection .right-side .col-2 {
    float: left;
    width: 20%;
}

#color-collection .right-side .swatch-area {
    background: white;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 45px;
    margin-bottom: 40px;
    margin-top: 150px;
}

#color-collection .right-side .swatch-area:after {
    content: "";
    display: table;
    clear: both;
}

#color-collection .right-side .swatch-area .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

#color-collection .right-side .swatch-area .circle:nth-child(1) {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(105, 105, 217, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(105, 105, 217, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(105, 105, 217, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

#color-collection .right-side .swatch-area .circle:nth-child(2) {
    background: rgb(238, 174, 202);
    background: -moz-linear-gradient(90deg, rgba(238, 174, 202, 1) 6%, rgba(24, 66, 115, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(238, 174, 202, 1) 6%, rgba(24, 66, 115, 1) 100%);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 6%, rgba(24, 66, 115, 1) 100%);
}

#color-collection .right-side .swatch-area .circle:nth-child(3) {
    background: rgb(63, 94, 251);
    background: -moz-linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    margin-right: 0;
}

#color-collection .right-side .info-box {
    background: white;
    padding: 40px 40px;
    display: inline-block;
    max-width: 290px;
    width: 100%;
    text-align: center;
}

#color-collection .right-side .info-box h2 {
    font-size: 2rem;
}

#color-collection .right-side .info-box h2 span {
    display: block;
    text-align: center;
}

#color-collection .right-side .info-box h2 span0.orange {
    color: #FEA83B;
    font-weight: 100;
}

#color-collection .right-side .info-box h2 span.blue {
    color: #6066F2;
}

#color-collection .right-side .info-box h2 span.purple {
    color: #B286F8;
    font-weight: 100;
}

#color-collection .right-side .info-box p {
    color: #aaacaf;
    font-size: .8rem;
    margin: 40px 0;
}

#color-collection .right-side .info-box a {
    color: #6066F2;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    margin: 40px 0 20px;
    display: block;
}

#color-collection .right-side .info-box .line {
    height: 2px;
    width: 50px;
    background: #B286F8;
    display: inline-block;
}

#color-collection .right-side .color-slider {
    position: relative;
    width: 20px;
    height: 640px;
    border-radius: 40px;
    display: inline-block;
    background: rgb(63, 94, 251);
    background: -moz-linear-gradient(top, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background: linear-gradient(to bottom, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

#color-collection .right-side .color-slider .picker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 10px solid #fff;
    background: rgb(63, 94, 251);
    box-sizing: content-box;
    position: absolute;
    top: 200px;
    left: -10px;
}