#design-by {
  position: relative;
  top: -100px;
}

#design-by .design-container {
  position: relative;
  background: white;
  overflow: hidden;
  border-radius: 5px;
}

#design-by .design-container .bg-container {
  position: relative;
  background: #6066f2;
  overflow: hidden;
  padding: 45px;
  height: 483px;
}

#design-by .design-container :after {
  content: "";
  display: table;
  clear: both;
}

#design-by .design-container .bg-image {
  position: absolute;
  width: 600px;
  z-index: 1;
  top: 0;
  right: -200px;
  opacity: 0.4;
}

#design-by .design-container .info-section {
  width: 37%;
  display: inline-block;
  float: left;
}

#design-by .design-container .info-section h5 {
  color: #fea83b;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}

#design-by .design-container .info-section h3 {
  color: white;
  font-size: 2.7rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}

#design-by .design-container .info-section .info-list {
  margin-bottom: 4rem;
  position: relative;
  z-index: 2;
}

#design-by .design-container .info-section .info-list li {
  list-style: none;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 14.5px;
  vertical-align: top;
}

#design-by .design-container .info-section .info-list li .circle {
  background: #fea83b;
  display: inline-block;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  position: relative;
  top: 7px;
}

#design-by .design-container .info-section .info-list li .circle .fa {
  position: absolute;
  top: 6px;
  left: 5px;
}

#design-by .design-container .info-section .white-btn {
  background: white;
  border-radius: 50px;
  padding: 20px 65px;
  text-decoration: none;
  color: #fea83b;
  font-weight: 700;
  font-size: 1rem;
  display: inline-block;
  position: relative;
  z-index: 2;
}

#design-by .design-container .icon-section {
  width: 730px;
  background: white;
  display: inline-block;
  float: left;
  position: relative;
}

#design-by .design-container .icon-section .refresh-circle {
  position: absolute;
  top: 42%;
  left: 44%;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
}

#design-by .design-container .icon-section .refresh-circle .fa {
  position: relative;
  color: #fea83b;
  font-size: 2.5rem;
  top: 20px;
  left: 15px;
}

#design-by .design-container .icon-section .icon-box {
  width: 50%;
  height: 241.25px;
  display: inline-block;
  float: left;
  text-align: center;
  border: .5px solid #f1f3f56b;
  color: #6066f2;
  font-size: 1.3rem;
}

#design-by .design-container .icon-section .icon-box .fa {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 70px;
}

/* LAPTOP */
@media only screen and (max-width:1215px) {}

/* TABLET */
@media only screen and (max-width:1023px) {
  #design-by .design-container .icon-section .refresh-circle {
    left: 44%;
  }
}

/* TABLET TO MOBILE REFRESH CIRCLE TRANSITION */
@media only screen and (max-width: 833px) {
  #design-by .design-container .icon-section .refresh-circle {
    left: 41%;
  }
}

/* MOBILE */
@media only screen and (max-width:767px) {
  #design-by .design-container .info-section {
    width: 100%;
  }

  #design-by .design-container .info-section .info-list li {
    line-height: 2;
  }

  #design-by .design-container .bg-container {
    padding: 20px;
  }

  #design-by .design-container .icon-section {
    width: 100%;
  }

  #design-by .design-container .icon-section .refresh-circle {
    display: none;
  }
}